.headerMobileOnly {
  display: none;
  height: 50px;
  background-color: light-dark(#ffffff, #090909);
  border-buttom: 1px solid light-dark(#e7e7e7, light-dark(#e7e7e7, #191b1f));
}

@media (max-width: 48em) {
  .headerMobileOnly {
    display: block;
  }

  .mainWithMobileHeader {
    margin-top: 40px;
  }
}
