.navbar {
  height: 100vh;
  width: 200px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: light-dark(#ffffff, #090909);
  border-right: 1px solid light-dark(#e7e7e7, light-dark(#e7e7e7, #191b1f));
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-xs);
  margin-bottom: var(--mantine-spacing-md);
  border-bottom: 1px solid light-dark(#e7e7e7, #191b1f);
}

.footer {
  padding-top: var(--mantine-spacing-xs);
  margin-top: var(--mantine-spacing-xs);
  border-top: 1px solid light-dark(#e7e7e7, #191b1f);
}
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(#3f3f46, #e3e4e6);
  padding: 6px 10px;
  margin-bottom: 5px;
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(#e1e1e3, #17181b);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: light-dark(#e1e1e3, #17181b);
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
      font-weight: 500;

      .linkIcon {
        color: light-dark(
          var(--mantine-color-black),
          var(--mantine-color-white)
        );
      }
    }
  }
}

.linkIcon {
  color: light-dark(#a1a1aa, #969799);
  margin-right: var(--mantine-spacing-sm);
  width: 20px;
  height: 20px;
}

.colorSchemeLightIcon {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.colorSchemeDarkIcon {
  @mixin light {
    display: block;
  }

  @mixin dark {
    display: none;
  }
}
