/* @layer tailwind {
  @import "tailwindcss/preflight";
} */
/* @tailwind utilities; */

:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: #f5f5f5;
}
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #101012;
}

.mantine-datatable-header {
  background-color: light-dark(#e1e1e3, #17181b);
}

:where([data-mantine-color-scheme="dark"]) .mantine-datatable-row {
  --table-border-color: #191b1f;
}

.mantine-datatable-table thead tr th:first-child,
.mantine-datatable-table tbody tr td:first-child {
  padding-left: 18px !important;
}

th.mantine-datatable-header-cell-sortable:hover {
  @mixin light {
    background-color: #d0d0d0;
  }
}
.mantine-Input-input,
.mantine-Popover-dropdown,
.mantine-Menu-dropdown,
.mantine-RichTextEditor-content {
  @mixin dark {
    background-color: #17181b;
  }
}

.mantine-RichTextEditor-content {
  @mixin light {
    background-color: #ffffff;
  }
}

.button-hover-underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* TABLE WRAPPER */
.ProseMirror table {
  border: 1px solid light-dark(#ced4da, #3a3a3a);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

/* BASE CELL STYLES */
.ProseMirror th,
.ProseMirror td {
  border: none;
  padding: 8px 12px;
  border-right: 1px solid light-dark(#ced4da, #3a3a3a);
  border-bottom: 1px solid light-dark(#ced4da, #3a3a3a);

  @include dark {
    color: #dee2e6;
  }
}

/* REMOVE LEFT BORDER FOR INNER CELLS */
.ProseMirror tr > th:not(:first-child),
.ProseMirror tr > td:not(:first-child) {
  border-left: none;
}

/* REMOVE TOP BORDER FOR INNER ROWS */
.ProseMirror table tr:not(:first-child) th,
.ProseMirror table tr:not(:first-child) td {
  border-top: none;
}

/* REMOVE RIGHT BORDER FROM LAST COLUMN */
.ProseMirror tr > th:last-child,
.ProseMirror tr > td:last-child {
  border-right: none;
}

/* REMOVE BOTTOM BORDER FROM LAST ROW */
.ProseMirror table tr:last-child td {
  border-bottom: none;
}

/* Real <th> (inserted table headers) */
.ProseMirror th {
  /* background-color: #f8f9fa; */
  font-weight: 600;

  @include dark {
    /* background-color: #2a2a2a; */
  }
}

/* Pasted tables fallback: style first row as visual header */
.ProseMirror table tr:first-child td {
  font-weight: 600;

  @include dark {
  }
}

/* ROUNDED CORNERS */
.ProseMirror table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}
.ProseMirror table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
.ProseMirror table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.ProseMirror table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

